SECRET_KEY=django-insecure-your-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=fitnesskit_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

ONEC_URL=http://176.192.70.122:90/fitnes_t_nfc_mobile/hs/nfc_mobile/v1
ONEC_LOGIN=FitnessKit
ONEC_PASSWORD=vY0xodyg
ONEC_CLUB_ID=59115d1e-9052-11eb-810c-6eae8b56243b
ONEC_REQUEST_ID=e1477272-88d1-4acc-8e03-7008cdedc81e
