# Virtual Environment
venv/
env/
ENV/
*.pyc
__pycache__/

# Logs
*.log
01_backend_registration/app/logs/

# Database
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# System
.DS_Store
Thumbs.db