# Django Settings
DJANGO_SECRET_KEY=your-secret-key-here-change-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Settings
DB_NAME=fitness_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# 1C Integration Settings
ONE_C_BASE_URL=http://176.192.70.122:90/fitnes_t_nfc_mobile/hs/nfc_mobile/v1
ONE_C_LOGIN=FitnessKit
ONE_C_PASSWORD=vY0xodyg
ONE_C_CLUB_ID=59115d1e-9052-11eb-810c-6eae8b56243b
